@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*{
    border: 0px;
    padding: 0px;
    margin: 0;
}

:root{
    --color1: #BABBB1;
    --color2: #383835;
    --color3: #383835c2;
}

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

nav{
    background-color: var(--color2);
    height: 953px;
    width: 500px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}

.titulo{
    font-size: 40px;
    padding-top: 22px;
    text-align: center;
    color: var(--color1);
}

.links{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

a{
    margin: auto;
    margin-bottom: 80px;
    background-color: rgba(151, 151, 151, 0.473);
    font-size: 17px;
    width: 300px;
    font-size: 25px;
    text-align: center;
    padding: 15px 20px;
}

.carousel-item{
    height: 953px;
    width: 900px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

main{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

article{
    margin-left: 500px;
}

